@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    transition: color 0.5s,
    background-color 0.5s;
    line-height: 1.6;
    font-family: Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to right top, #1a4f34, #27753e, #469d3f, #71c435, #a8eb12);;
}

.mybutton {
    @apply text-white bg-indigo-600 active:bg-indigo-700 hover:bg-indigo-500
            font-bold select-none cursor-pointer
            flex items-center justify-center rounded py-1 px-4 mx-1
}
